body {
    background-color: #F2F4F7;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.bg-header {
    background-color: #FAFDFD;
    position: relative;
    z-index: 99;
}

.bg-nave {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.image-cover {
    position: relative;
}

.image-cover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0 0 30px 30px;
    background-color: rgba(0, 0, 0, 0.6);
}

.image-cover img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 0 0 30px 30px;
}

.border-image img {
    position: relative;
    max-width: 150px;
    border-radius: 50%;
    margin-top: -50px;
    z-index: 99;
    border: 8px solid #fff;
}

.display-profile h4 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800;
    margin-top: 4px;
    margin-bottom: 2px;
}

.display-profile p {
    font-weight: 400;
    margin-bottom: 10px;
}

.group-sosmed {
    display: flex;
    gap: 10px;
}

.group-sosmed i {
    font-size: 1.4em;
}

.nav-tabs {
    font-family: "Red Hat Display", sans-serif;
}

.nav-tabs .nav-link {
    color: #418C39;
    font-weight: 500;
    padding-top: 20px;
}

.nav-tabs .nav-link.active {
    background-color: #F1CE8B;
    border-bottom-color: #F1CE8B;
}

.content-capsule {
    font-family: "Plus Jakarta Sans", sans-serif;
    position: relative;
    width: 100%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #F1CE8B;
}

.group-sosmed .fa-facebook {
    color: #0A20E2;
}

.group-sosmed .fa-instagram {
    color: #A30C42;
}

.group-sosmed .fa-twitter {
    color: #117DAB;
}

.group-sosmed .fa-linkedin {
    color: #2E67BD;
}

.group-sosmed .fa-graduation-cap {
    color: #073C7A;
}

.group-sosmed .fa-github {
    color: #171515;
}