@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

body {
    background-color: #F9FAFB;
}
h1, h2, h3, h4, h5, h6, p, span, label, a, ul, li {
    font-family: 'Poppins', sans-serif;
}
.img-top-header > img {
    max-width: 100%;
}
.text-top-left h4>.green {
    color: #53BA55;
}
.text-top-left h4 {
    font-size: 24px;
    font-weight: 500;
}
.text-top-left h1 {
    font-size: 32px;
    font-weight: 600;
}
.text-top-left h5 {
    font-size: 18px;
    font-weight: 400;
}
.top .navbar {
    margin-top: -0.5rem;
}
.navbar-toggler {
    padding: .1rem;
}
.top .navbar .nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-right: 68px;
}

.icon-social-top {
    margin-top: 1.5rem;
    font-size: 1.5em;
}
.icon-social-top svg {
    max-width: 23px;
}
.icon-social-top a {
   margin-right: 1.2rem;
}
.icon-social-top .fa-facebook {
    fill: #0A20E2;
}
.icon-social-top .fa-instagram {
    fill: #A30C42;
}
.icon-social-top .fa-twitter {
    fill: #117DAB;
}
.icon-social-top .fa-linkedin {
    fill: #2E67BD;
}
.icon-social-top .fa-graduation-cap {
    fill: #073C7A;
}
.icon-social-top .fa-github {
    color: #171515;
}

/* aboutme */
.aboutme h1 {
    font-size: 48px;
    font-weight: 400;
    margin-top: 40px;
}
.aboutme img {
    max-width: 90%;
}
.aboutme .green {
    color: #00894F;
}
.aboutme .context {
    margin-top: 40px;
}
.aboutme .context h2 {
    font-size: 29px;
    font-weight: 500;
}
.aboutme .context p {
    font-size: 18px;
    font-weight: 400;
    line-height: 2.1;
}
.aboutme .context h4 {
    font-size: 20px;
    font-weight: 500;
}
.aboutme .context ul {
    list-style-image: url("../img/ellipse.webp");
}
.aboutme .context li {
    font-size: 20px;
    line-height: 1.8;
}
.aboutme .context li>span {
    font-size: 18px;
}

/* It skills
 */

 .itskills h1 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 400;
 }
 .itskills h1>.green {
    color: #00894F;
 }


 /* Responsive
  */

@media (min-width: 576px) {
    .img-top-header {
        min-height: 100vh;
    }
    .top .col-sm-5 {
        width: 37.223%;
    }
    .top .col-sm-7 {
        width: 62.75%;
        padding: 0;
    }
    .text-top-left {
        padding-left: 152px;
    }

    .top .navbar {
        min-height: 53px;
        margin-top: -5rem;
    }
    .img-top-header > img {
        margin-top: calc(15vh + 0.4rem);
    }

}