@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F2F4F9;
}
.interest {
    margin-top: -130px;
    background-color: #FFF;
    z-index: 11;
    position: relative;
    border-radius: 20px;
}
.col-name .font-weight-lighter, .col-interest .font-weight-lighter {
    font-weight: 200;
}
.col-name>h3>span, .hiding-inters p {
    color: #F05D7B;
}
.grup-inters p {
    color: #888787;
}
.hiding-inters h4 {
    font-size: 36px;
    line-height: 0.4;
}
.hiding-inters p {
    font-size: 28px;
}
.col-name>p {
    line-height: 0;
}
.grup-inters>p {
    line-height: 1.2;
    margin-top: -8px;
}
.col-interest>.col-grup {
    margin: 10px 0;
}
.col-grup img {
    width: 60px;
    height: 60px;
}
.col-grup .img-grub {
    border: 2px solid #F05D7B;
    padding: 20px;
    border-radius: 50%;
}
.contact-form input[type=email], .contact-form textarea {
    border: 0;
    padding: 15px;
    background-color: #FAFBFE;
    border-radius: 10px;
}
.btn-pink {
    color: #fff;
    background-color: #F05D7B;
    border-color: #F05D7B;
    border-radius: 30px;
    padding-left: 35px;
    padding-right: 35px;
}
.contact-form button:hover {
    background-color: #F13D59;
    border-color: #F13D59;
}

.typed_wrap h1 {
    display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@media (min-width: 992px) {
    .col-interest>.col-grup {
    margin: 40px 10px;
    }
    .col-name {
    padding-top: 18%;
    }
    .col-name>h1 {
        font-size: 58px;
        color: #000;
    }
    .col-name>h3 {
        font-size: 48px;
        color: #000;
    }

}
.progress-bar, .progress {
    border-radius: 10px;
}
.progress-bar {
    background-color: rgba(241,61,89,0.59);
}

.contact {
    background-color: #fff;
    border-radius: 20px;
}
.contact i {
    padding: 15px;
    border-radius: 50%;
    color: #888787;
    border: 1px solid;
}
.contact .fa-telegram-plane {
    color: rgba(0, 136, 204, 0.9);
    border-color: rgba(0, 136, 204, 0.9);
}
.contact .fa-envelope {
    color: rgba(241,61,89,0.83);
    border-color: rgba(241,61,89,0.83);
}
.contact .fa-twitter {
    color: rgba(62,164,250,0.83);
    border-color: rgba(62,164,250,0.83);
}
.contact .fa-github {
    color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
}
.contact a > p {
    color: #4C4C4C;
    margin-top: 5px;
}
.shadow-xsm {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin: 50px 0;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
    margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
    padding-right:90px;
}

.timeline > li.timeline-inverted {
    padding-left:90px;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.pink {
    background-color: rgba(214,216,223,0.93) !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}

